@charset "UTF-8";

main{
    max-width: 800px;
    margin: auto;
    
}


article, section, header, footer{
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

td{
    border: 1px solid black;
    height: 200px;
    min-width: 200px;
    text-align: center;
    font-size: 50px;
}

table{
    width: 600px;
    border: 1px solid black;
    margin: auto;
}
h1, h2, footer{
    text-align: center;
}